.article__meta {
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.article__meta div:first-child {
  margin-left: 3rem;
}

.article__category {
  display: inline-block;
  border-radius: 0.2rem;
  margin: 0.2rem;
  padding: 0.3rem 0.6rem;
}

.article__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.tag {
  display: inline-block;
  border-radius: 0.2rem;
  margin: 0.2rem;
  padding: 0.3rem 0.6rem;
  background-color: rgba(204, 204, 204, 0.5);
}
