.card {
  padding: 1.7rem 1.8rem;
  border-bottom: 0.1rem solid #e4e7ed;
  flex-wrap: wrap;
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-box-align: center;
}

.card::before.rounded {
  border-radius: 0.4rem;
}

.card > h4 {
  font-size: clamp(1.2rem, 5vw, 1.8rem);
  line-height: 2rem;
  letter-spacing: -0.02rem;
  margin: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-style: normal;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.card::before {
  content: '';
  display: block;
  position: absolute;
  width: 0.6rem;
  height: calc(100% + 0.4rem);
  top: 0;
  left: 0;
}
