.tabs__wrapper {
  padding-top: 1rem;
  top: calc(100vh - 8.2rem);
  position: sticky;
  background-color: #fff;
  z-index: 10000;
  box-shadow: 0 -0.4rem 0.4rem rgba(0, 0, 0, 0.02);
}

.tabs {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px rgba(204, 204, 204, 0.246);
}

.tab {
  font-size: 1.4rem;
}

.tab svg {
  font-size: 3rem;
}

.preview__header {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
  font-size: clamp(1.2rem, 5vw, 1.8rem);
}

.result__grid {
  padding: 2rem;
}

.score {
  font-size: clamp(1.8rem, 5vw, 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.team {
  font-size: clamp(1.2rem, 5vw, 1.8rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.team__name {
  padding: 0 2rem;
}

.scores__section {
  padding: 1rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.scores__section + div {
  border-top: none !important;
}

.scores__team {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
}

.scores__team:nth-child(2) {
  justify-content: flex-end;
}

.scores__score {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
}

.statistics {
  padding: 1rem;
}

.statistics__header {
  height: 4.2rem;
  text-align: center;
  color: #31404b;
  font-weight: 600;
  display: flex;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.125);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.125);
  align-items: center;
  justify-content: center;
  background-color: #f5f7f9;
  font-size: 1.6rem;
}

.statistics__grid {
  border-top: none;
}

.grid__item {
  font-size: clamp(1.2rem, 5vw, 1.6rem);
  padding: 2rem 1.5rem;
  text-align: center;
}

.grid__value {
  text-align: center;
  font-size: clamp(1.2rem, 5vw, 1.6rem);
  font-weight: 700;
  color: #f34141;
  display: block;
  margin: 0 auto;
}

.player__avatar {
  margin-right: auto;
}

.avatar__img {
  border-radius: 100%;
}

.statistics__expander {
  width: 100%;
}

@media (max-width: 960px) {
  .team {
    flex-direction: column;
  }

  .team__name {
    margin-top: 1rem;
    text-align: center;
  }

  .opponent_team {
    flex-direction: column-reverse;
  }
}

@media (max-width: 600px) {
  .result__item:first-child {
    margin-bottom: 3rem;
  }
  .result__item:last-child {
    margin: 3rem 0;
  }

  .timeline__player {
    justify-content: flex-end;
  }
  .timeline__opponent {
    justify-content: flex-start;
  }

  .player__avatar {
    display: none;
  }
}
